h1, h2, h3, h4, h5, h6  {
    color: #d0d0d0;
    font: tradegothic;
}

@page {
    margin: 0pt;
}

body {
    margin: 25pt;
    color: #d3d3d3;
    font: sans-serif;
    background-color: #222222;
}

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}

code, pre {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  background-color: #333333;
  border-radius: 3px;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 12px;
  color: #f8f8f8;
  word-break: break-all;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

table th {
  font-weight: bold;
  border: 1px solid #151515;
  padding: 6px 13px;
}

table td {
  border: 1px solid #151515;
  padding: 6px 13px;
}

table tr {
  border-top: 1px solid #111;
  background-color: #353535;
}